<!doctype html>
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>阿法迪图书馆文献管理平台2.0</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!--<meta http-equiv="Access-Control-Allow-Methods" content="POST">-->
    <!--<meta http-equiv="Access-Control-Allow-Headers" content="x-requested-with,content-type">-->
    <!--<meta http-equiv="content-type" content="text/css" />-->
    <link rel="stylesheet" type="text/css" href="/css/login.css?ver=1">
</head>
<body>
<!--style="background-image:url()"-->
<!--<h1 class="title">阿法迪中小型图书馆文献信息管理系统</h1>-->
<div ng-controller="testController" class="login">
    <form name="form" ng-submit="save()" novalidate="novalidate" class="form_wrapper">
        <!--<h3>用户登录</h3>-->
        <h3>阿法迪图书馆文献管理平台2.0</h3>
        <label>输入名称</label><input type="text" name="name" ng-model="user.name" required ng-minlength="1" ng-maxlength="20"/>
        <!--<div class="error" ng-show="form.$dirty && form.name.$invalid">填写不正确</div>-->
        <br /><br />

        <label>输入密码</label><input type="password" name="email" ng-model="user.email" require/>
        <!--<span class="error" ng-show="form.$dirty && form.name.$invalid">填写格式错误</span>-->
        <br />
        <p class="bottom"><input id="submitbutton" type="submit" value="提  交"/></p>
        <!--<p class="bottom"><button type="button" onclick="login()"/>GOOD DAY</p>-->
    </form>
</div>
<script type="text/javascript" src="/js/jquery-2.2.0.js"></script>
<script src="/js/angular.min.js"></script>
<!--<script src="/js/angular-route.min.js"></script>-->
<script type="text/javascript" src="/js/pub.js"></script>
<!--<script type="text/javascript">-->
<!--function login() {-->
<!--var rootPath = getRootPath();-->
<!--window.location.href=rootPath+"/mainpage";-->
<!--}-->
<!--</script>-->
<script>
    var rootPath = getRootPath();
    var backServerUrl = rootPath;
    if(rootPath.substring(7,10) == "192" || rootPath.substring(7,10) == "loc" || rootPath.substring(7,10) == "10.") {
        backServerUrl = "http://192.168.0.186:10000/";
//        backServerUrl = "http://localhost:12365/";
//        backServerUrl = "http://27.115.113.158:40013/";
}
    else
    {
//        backServerUrl = backServerUrl.substring(0, backServerUrl.length - 1) + "2/";
        backServerUrl = "http://27.115.113.158:40050/";
    }
    //    alert(backServerUrl);
    window.localStorage["backServerUrl"] = backServerUrl;
    var myApp = angular.module('myApp', [])
            .factory('httpInterceptor', ['$q', '$injector',function($q, $injector) {
                var httpInterceptor = {
                    'responseError' : function(response) {
                        if(response.status === -1){
                            alert("服务器无回应!");
                            return $q.reject(response);
                        }else if (response.status === 401) {
                            var rootScope = $injector.get('$rootScope');
                            var state = $injector.get('$rootScope').$state.current.name;
                            rootScope.stateBeforLogin = state;
                            rootScope.$state.go("login");
                            return $q.reject(response);
                        } else if (response.status === 404) {
                            alert("404!");
                            return $q.reject(response);
                        } else{
                            return $q.reject(response);
                        }
                    },
                    'response' : function(response) {
                        $("#submitbutton").removeClass("breath_light");
                        $("#submitbutton").val("提  交");
                        return response;
                    },
                    'request' : function(config) {
                        $("#submitbutton").val("连接中...");
                        $("#submitbutton").addClass("breath_light");
                        return config;
                    },
                    'requestError' : function(config){
                        alert('requestError');
                        return $q.reject(config);
                    }
                }
                return httpInterceptor;
            }]).config([ '$httpProvider', function($httpProvider) {
                $httpProvider.interceptors.push('httpInterceptor');
            }]);
    myApp.controller('testController', function($scope, $http,$location, $window){
        $scope.save = function () {       //获取到表单是否验证通过
            if($scope.form.$valid){
                $http({method:'POST',
                    url:backServerUrl + 'api/auth/token',
                    dataType: 'json',
                    data:{"username": $scope.user.name, "password":$scope.user.email},
                    headers:{'Content-Type':'application/json'}
                }).success(function(response) {
                    console.log(response);
                    if(response.hasOwnProperty("errors"))
                    {
                        if(response.errors[0]=="You are marked inactive and cannot login, please contact system administrator")
                        {
                            alert("该用户已注销！请联系系统管理员！");
                        }
                        return;
                    }
                    var last=(response.token).toString();
                    window.localStorage["up"] = '{"username":"' + $scope.user.name + '", "password":"' + $scope.user.email + '"}';
                    window.localStorage["et"] = "Bearer " + last;
                    var now = new Date().getTime();
                    $window.location.href = rootPath + "/mainpage?time=" + now;
                }).error(function(response) {
                    console.log(response);
//                    alert("Login 请求产生错误!\n" + "status = " + XMLHttpRequest.status + "\nstatusText = " + XMLHttpRequest.statusText + "\nreadyState = " + XMLHttpRequest.readyState + "\nresponseText = " + XMLHttpRequest.responseText);
                    $("#submitbutton").removeClass("breath_light");
                    $("#submitbutton").val("提  交");
                    if(response !== null){
                        alert("用户名或密码错误!");
                    }
                });

            }else{
                alert('表单没有通过验证');
            }
        }
    });
</script>
</body>
</html>